#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0B1121;

  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
    padding-bottom: 100px;
  }
}